@media (prefers-color-scheme: dark) {
	:root {
		--sms-bomber-primary-section-background: #232b41;
		--sms-bomber-extension-background: #0c0c0c;
		--sms-bomber-default-font-color: #e6e3e3;
		--sms-bomber-input-background: #333333;
		--sms-bomber-header-title-color: #61d6d6;
		--sms-bomber-input-border: 1px solid #535050;
		--sms-bomber-cheverone-image-url: url(/assets/images/cheverone-light.svg);
	}
}