* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	display: none;
}
svg, img {
	display: block;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input, button, select {
	border: none;
	outline: none;
}
button:not(:disabled) {
	cursor: pointer;
}
body {
	color: #111010;
	unicode-bidi: embed;
	overflow: hidden;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	font-family: Segoe WPC, Segoe UI, sans-serif;
	background-color: #ffffff;
}
#content {
	height: 400px;
	width: 277.5px;
}
.layout-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}
.content-both {
	position: relative;
	flex: 1;
	overflow: hidden;
}
.form-content {
	flex-direction: column;
	display: flex;
	background-color: #ffffff;
}
.form-content .headwrap {
	justify-content: flex-end;
	align-items: center;
	padding: 4px 8px;
	flex-wrap: nowrap;
	display: flex;
	column-gap: 8px;
	padding-top: 8px;
	flex-direction: row-reverse;
}
.form-content .headwrap img {
	width: 35px;
	height: 35px;
}
.form-content .headwrap h3 {
	font-size: 17px;
	font-weight: 600;
	color: #6363cf;
}
.form-content form {
	padding: 11px;
}
.form-content form .field {
	width: 100%;
	margin: 8px 0;
}
.form-content form select,
.form-content form button,
.form-content form input {
	padding: 3px 1px 0 0;
	height: 30px;
	width: 100%;
	color: inherit;
	font-family: inherit;
	border-bottom: 1px solid #7e7777;
	background-color: var(--sms-bomber-input-background);
}
.form-content form select:focus,
.form-content form input:focus {
	border-color: #6363cf;
}
.form-content form input:focus::placeholder {
	color: #cac8c8;
}
.form-content form button {
	font-family: inherit;
	color: #fff;
	margin-top: 18px;
	padding: 0;
	font-weight: 500;
	background-color: #6363cf;
	transition: background 0.1s ease-in-out;
}
.form-content form button:hover {
	background-color: #5555c0;
}
.form-content .group {
	display: flex;
}
.form-content .fgfield {
	flex-grow: 1;
}
.form-content .field p {
	font-size: 12px;
}
.form-content .field .error {
	font-size: 12px;
	color: #e72e2e;
}
.form-content select._error,
.form-content input._error {
	border-color: #e72e2e;
}
.form-content select {
	-webkit-appearance: none;
  background-image: url(/assets/images/cheverone-light.svg);
  background-repeat: no-repeat;
  background-position: right 11px center;
}
.form-content select:focus {
	color: #6363cf;
}
/* style terminal */
.terminal {
	font-weight: 600;
	color: #e6e3e3;
	user-select: none;
	font-size: 13px;
	font-family: monospace;
	background-color: #0c0c0c;
}
.terminal header {
	color: #e6e3e3;
	padding: 3px 5px;
	display: flex;
	justify-content: space-between;
}
.terminal header .aqua {
	color: #61d6d6;
}
.bomber-details, .bomber-request {
	padding: 11px 5px;
}
table td:first-child {
	width: 173px;
}
table .lg {
	color: #16c60c;
}
.scrollable-view .lb {
	color: #3b78ff;
}
.bomber-request {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: hidden;
}
.bomber-request .scrollable-view {
	margin-top: 11px;
	flex: 1;
	scrollbar-width: 0px;
	overflow-x: hidden;
}
.scrollable-view::-webkit-scrollbar {
	width: 0px;
}
.scrollable-view table tr td:last-child {
	padding-left: 22px;
}
.scrollable-view .error, table .error {
	color: #f71616;
}
.footer {
	text-align: center;
	font-size: 13px;
}